.container {
  /* padding: 2.75rem; */
  display: flex;
  flex-direction: column;
  flex: 2;

  min-width: 400px;
}

.about {
  text-align: left;
}

.topics,.learnContainer,.prereqContainer {
  margin-top: 0.75rem;
}



.heading {
  padding: 0.5rem 0;
  text-decoration: underline;
  text-decoration-color: #ff7700;
  text-decoration-thickness: 2.3px;
  font-size: 1.25rem;
  font-weight: bolder;
}

.title{
  /* display: inline; */
  width: fit-content;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

.event-details{
  display: flex;
}

.about {
  font-weight: light;
}


@media (max-width: 450px) {
  .container {
    min-width: unset;
  }
  .title{
    align-self: center;
    font-size: 1.15rem;
    text-align: center;
  }
}