.description-container {
  flex: 2;
}

.info-container {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 420px){
  .info-container{
    padding: 1.5rem 0;
  }
}