.button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--orange);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 45px;
  padding: 0 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 8px;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}

@media (max-width: 1024px) {
  .button {
    padding: 0 12px;
    height: 35px;
  }
}
