.container {
  min-height: 85vh;
}
.event {
  padding: 12px 24px;
  background-color: var(--gray);
  border-radius: 8px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 40vw;
  margin-left: 10%;
  font-size: large;

  -webkit-tap-highlight-color: transparent;
  /* cursor: pointer; */
  transition: all 200ms ease-in;
}

/* .event:hover{
  transform: scale(1.01);
} */

.events {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}
.speaker {
  font-weight: 100;
  color: darkslategray;
  font-size: medium;
}
.time-border {
  width: 15vw;
  text-align: right;
  padding-right: 5vw;
  transform: translateY(20px);
  border-right: var(--orange) 3px solid;
}
.time {
  width: 15vw;
  text-align: right;
  padding-right: 5vw;
  transform: translateY(20px);
  border-right: white 3px solid;
}

.event:last-of-type {
  margin-bottom: 30px;
}
.events:last-child {
  padding-bottom: 20px;
}
.time-border > h4,
.time > h4 {
  transform: translateY(-10px);
}
.time-border::after,
.time::after {
  content: "";
  position: absolute;
  transform: translate(-6px, -30px);
  margin-left: 5vw;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--orange);
}

/* .event:hover {
  background-color: lightgray;
  transition: ease-in-out 200ms;
  cursor: pointer;
} */

.tabs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  background-color: var(--gray);
  margin-bottom: 30px;
  text-align: center;
}

.tabs__label {
  padding: 1rem;
  font-size: medium;
  cursor: pointer;
  width: 33.33%;
  -webkit-tap-highlight-color: transparent;
}

.tabs__radio {
  display: none;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  border-radius: 16px;
  color: white;
  background-color: var(--orange);
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

@media (max-width: 1024px) {
  .event {
    font-size: medium;
    width: 60vw;
  }
  .speaker {
    font-size: small;
  }
  .tabs__label {
    padding: 10px 30px;
    font-size: small;
  }
  .event:last-of-type {
    margin-bottom: 20px;
  }
  .events {
    transform: translateX(-10px);
  }
}

@media (max-width: 768px) {
  .time-border,
  .time {
    width: 75px;
  }
  .time-border::after,
  .time::after {
    transform: translate(-6px, -45px);
  }
}
